html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}


header {
    display: flex;
    justify-content: space-around;
    margin: 2% 15% 0 15% ;
}

body {
    background-image: url("../img/Небо.jpg");
    background-size: cover;

}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.screen {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: .8;
}

.logo {
    margin: 0 1% 0 0;
    width: 56px;
    height: 37px;
    background-image: url("../img/Логотип\ \(1\).svg");
    background-size: cover;
}

.name {
    margin: 0 2% 0 1%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #992800;

    text-shadow: 0px 2px 30px #FFFFFF;
}

.tagline {
    margin: 0 18% 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
/* or 18px */
    color: #FFFFFF;
}

.phone {
    margin: 2px 7px 0 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.button1 {
    display: flex;
    overflow: hidden;
    height: 33px;
    width: 173px;
    left: 1367px;
    top: 49px;
    border-radius: 5px;
    background-image: url("../img/Кнопка\ Перезвонить.png");
}

.button1_icon {
    margin: 5px 0 0 5px ;
    width: 19.8px;
    height: 16.67px;
    background-image: url("../img/Mask\ group.png");
}

.button1_text {
    margin: 10px 0 0 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-align: center;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}





.container {
    max-width: 1920px;
    margin: auto;
}


.subcontainer {
    margin: 9% 0 0 20%;
    display: flex;
    flex-wrap: wrap
}

.main {
    margin: 0px 57% 0px 0px;
/*     width: 842px; */
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}

.pic1 {
    margin: 0 0 0 29%;
    width: 82px;
    height: 64px;
    background-image: url("../img/Календарь\ иконка.png");
}

.pic1_text {
    margin: 1% 0 0 0;
    width: 95px;
    height: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
/* or 125% */

    color: #FFFFFF;
}

.quiz_text {
    margin: 0 70% 4% 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
/* or 26px */

    color: #FFFFFF;
}

/* .pic_vector {

} */

.pic2 {
    margin: 0 2% 0 0;
    border-radius: 10px;
    width: 176px;
    height: 131px;
    background-image: url("../img/Сваи\ фото.jpg");
    background-size: cover;
}

.pic2_text {
    margin: 4% 2% 0 0;
    width: 279px;
    height: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #FFFFFF;
}

.pointer {
    margin: 4% 2% 0 0;
    width: 46px;
    height: 45px;
    background-image: url("../img/Стрелка.svg");
    background-size: cover;
}

.special_price {
    margin: 4.6% 32% 0 0;
    width: 125px;
    height: 27px;
    background-image: url("../img/Цена.png");

}

.quiz_text2 {
    margin: 4% 40% 0 0;
/*     width: 611px; */
    height: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #FFFFFF;
}

.button2 {
    cursor: pointer;
    margin: 1% 40% 0 0;
/*     width: 500px; */
    height: 120px;
    border-radius: 5px;
    background-image: url("../img/Кнопка\ Рассчитать\ стоимость.jpg");
    background-size: cover;
    
}

.button2_text {
    padding: 3% 2% 2% 3%;
    font-family: 'Montserrat';
    font-style: normal;
/*     width: 446px;
    height: 56px; */
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.underbutton {
    margin: 1% 40% 2% 6%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    color: #FFFFFF;
}

/* .pictures {
    height: 100%;
    width: 100%;

} */


.home {
    z-index:-1;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 53.5%;
    top: 24.1%;
    margin: 1% 40% 0 0;
    border-radius: 5px;
    width: 60%;
    height: 75%;
    background-image: url("../img/Дом\ с\ деревьями.png");
    background-size: 100%, 100%;
}

.tree1 {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 82.7%;
    top: 52.5%;
    margin: 1% 40% 0 0;
    border-radius: 5px;
    width: 330px;
    height: 527px;
    background-image: url("../img/Ель\ 2.png");
    background-size: cover;
}

.tree2 {
    z-index:-1;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 85%;
    top: 49.3%;
    margin: 1% 40% 0 0;
    border-radius: 5px;
    width: 353px;
    height: 564px;
    background-image: url("../img/Ель\ 3.png");
    background-size: cover;
}

.tree3 {
    z-index:-1;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 0%;
    top: 38.3%;
    margin: 1% 40% 0 0;
    border-radius: 5px;
    width: 443px;
    height: 708px;
    background-image: url("../img/Ель\ 4.png");
    background-size: cover;
}

.question {
    display: flex;
    flex-wrap: wrap;
    outline: 17px solid #F6F6F6;
    position: absolute;
    width: 1069px;
    height: 837px;
    left: 20%;
    top: 12%;

    background: #FFFFFF;
    border-radius: 10px;
}

/* ========================================================================================= */

.q_number {
    position: absolute;
    margin: 10% 0 0 40%;
    width: 388.39px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 1\ из\ 5.svg");
    background-size: cover;
}

.q_quest {
    position: absolute;
    margin: 183px 0 0 564px;
    width: 351.77px;
    height: 35.51px;
/*     left: 990px;
    top: 304.77px; */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    
    text-align: center;
    
    color: #3C3C3C;
}

.q_status {
    position: absolute;
    margin: 162px 0 0 168px;
    width: 109px;
    height: 28px;
    background-image: url("../img/Онлайн.svg");
    background-size: cover;
}

.q_name {
    position: absolute;
    margin: 21% 0 0 16%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 100% */
    
    text-align: center;
    color: #3C3C3C;
}

.q_subname {
    position: absolute;
    margin: 23.5% 0 0 16%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    
    text-align: center;
    
    color: #3C3C3C;
}

.q_text {
    position: absolute;
    margin: 26% 0 0 7%;
    width: 305px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    text-align: center;
    
    color: #3C3C3C;
}

.q_home {
    position: absolute;
    margin: 30% 0 0 0;
    width: 459px;
    height: 344px;
    background-image: url("../img/Конструкция\ дома.png");
    background-size: cover;
}

.q_variants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    margin: 24% 0 0 46%;
/*     background-color: #992800; */
    width: 460px;
    height: 390px;
}

.q_var {
    cursor: pointer;
    width: 210px;
    height: 188px; 
    background: url("../img/Rectangle\ 121.png");
    background-size: cover;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.q1_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    
    text-align: center;
    
    color: #7C7C7C;
    
}

.q1-1_img {
    width: 197.79px;
    height: 112.08px;
    background: url("../img/Для\ постоянного\ проживания\ 1.png");
    background-size: cover;
}

.q1-2_img {
    margin: -5% 0 -5% 10%;
    width: 162.21px;
    height: 129.89px;
    background: url("../img/Дачный\ 1.png");
    background-size: cover;
}

.q1-3_img {
    margin: -20% -10% 6% 0%;
    width: 197.79px;
    height: 120px;
    background: url("../img/Гостевой\ 1.png");
    background-size: cover;
}

.q1-4_img {
    margin: -10% 0 0 30%;
    width: 68px;
    height: 115px;
    background: url("../img/Пока.png");
    background-size: cover;
}

.q_back {
    position: absolute;
    margin: 62% 0 0 42%;
    width: 247.5px;
    height: 82.5px; 
/*     border-radius: 16%; */
    background: url("../img/Кнопка\ Назад.svg");
    background-size: cover;
}

.q_next {
    position: absolute;
    margin: 62% 0 0 71%;
    width: 266.3px;
    height: 82.5px; 
/*     border-radius: 20%; */
    background: url("../img/Кнопка\ Далее.png");
    background-size: cover;
}

/* ========================================================================================= */

.q_number {
    position: absolute;
    margin: 10% 0 0 50%;
    width: 390px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 1\ из\ 5.svg");
    background-size: cover;
}

.q2_number {
    position: absolute;
    margin: 10% 0 0 50%;
    width: 390px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 2\ из\ 5.svg");
    background-size: cover;
}

.q3_number {
    position: absolute;
    margin: 10% 0 0 50%;
    width: 390px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 3\ из\ 5.svg");
    background-size: cover;
}

.q4_number {
    position: absolute;
    margin: 10% 0 0 50%;
    width: 390px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 4\ из\ 5.svg");
    background-size: cover;
}

.q5_number {
    position: absolute;
    margin: 10% 0 0 50%;
    width: 390px;
    height: 26.63px;
    background-image: url("../img/Вопрос\ 5\ из\ 5.svg");
    background-size: cover;
}

.q2_var {
    margin: 0 0 0 5%;
    cursor: pointer;
    width: 464px;
    height: 53px;
    background: url("../img/Rectangle\ 42.svg");
    background-size: cover;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.q2_var_text {
    margin: 1% 0 0 0 ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    
    text-align: center;
    
    color: #7C7C7C;
        
}

.q3-1_img {
    margin: -20px 0 -20px 0;
    width: 215px;
    height: 165px;
    background: url("../img/1\ этаж.png");
    background-size: cover;
}

.q3-2_img {
    margin: -20px 0 -20px 0;
    width: 215px;
    height: 165px;
    background: url("../img/2\ этажа.png");
    background-size: cover;
}

.q3-3_img {
    margin: -35px 0 -20px 0;
    width: 215px;
    height: 165px;
    background: url("../img/1\ этаж\ +\ мансарда.png");
    background-size: cover;
}

.q3-4_img {
    margin: -10% 0 0 30%;
    width: 68px;
    height: 115px;
    background: url("../img/Пока.png");
    background-size: cover;
}

.thank_u {
    margin: 12% 0 0 0;
    width: 100%;
    height: 6%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-align: center;
    
    color: #3C3C3C;    
}

.thank_q {
    margin: 0 0 0 0;
    width: 100%;
    height: 3%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    text-align: center;
    
    color: #3C3C3C;    
}

.thank_var {
    width: 100%;
}

.thank_v1 {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(184, 184, 184);
    margin: 0 3% 0 25%;
    width: 100px;
    height: 100px;
    background: url("../img/Вотсап.png");
/*     background-size: cover;    */ 
}

.thank_v2 {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(184, 184, 184);
    margin: 0 3% 0 0;
    width: 100px;
    height: 100px;
    background: url("../img/Вайбер.png");
/*     background-size: cover;    */ 
}

.thank_v3 {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(184, 184, 184);
    margin: 0 3% 0 0;
    width: 100px;
    height: 100px;
    background: url("../img/Телеграм.png");
/*     background-size: cover;    */ 
}

.thank_v4 {
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(184, 184, 184);
    width: 100px;
    height: 100px;
    background: url("../img/Телефон.png");
/*     background-size: cover;    */ 
}

.thank_under {
    width: 100%;
    display: flex;
}

.thank_img {
    margin: 0 8% 0 15%;
    width: 310px;
    height: 302px;
    background: url("../img/Мокап-2\ 1.png");
}

.thank_img_text {
    margin: 0 0 0 15%;
    background: url("../img/yellow.svg");
    background-size: cover;
    width: 221px;
    height: 58px;
}

.thank_img_text {
    padding: 4% 0 0 0;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* or 133% */
    
    color: #676767;    
}


.thank_cont_container {
    width: 335px;
    justify-content: right;
    align-items: right;
}


.input-phone {
    margin: 0 0 5% 0;
    border: none;
    background: url("../img/Rectangle\ 43.svg");
    background-size: cover;
    width: 335px;
    height: 62px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    /* identical to box height, or 118% */
    text-transform: uppercase;
    
    color: #818181;
}

.send_phone {
    margin: 0 0 7% 0;
    width: 335px;
    height: 73px; 
    background: url("../img/Red.svg");
    background-size: cover;    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;    
}


/* 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */


@media (max-width: 1600px){

    html {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    

    .container {
        max-width: 1200px;
        overflow:hidden;
        overflow-y:hidden;  
        overflow-x:hidden;
    }
    .subcontainer {
        margin: 5% 0 0 15%;
        display: flex;
        flex-wrap: wrap
    }
    .main {
        margin: 0px 40% 0px 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    
        color: #FFFFFF;
    }

    .home {
        z-index:-1;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 53.5%;
        top: 24.1%;
        margin: 1% 40% 0 0;
        border-radius: 5px;
        width: 60%;
        height: 75%;
        background-image: url("../img/Дом\ с\ деревьями.png");
        background-size: 100%, 100%;
    }

    .quiz_text {
        margin: 0 70% 4% 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 110%;

        color: #FFFFFF;
    }

    .pic2_text {
        margin: 0 4% 0 0;
        width: 279px;
        height: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    
        color: #FFFFFF;
    }

    .pointer {
        margin: -10% 50% 0 20%;
        width: 46px;
        height: 45px;
        background-image: url("../img/Стрелка.svg");
        background-size: cover;
    }
    
    .special_price {
        margin: -9% 50% 0 25%;
        width: 125px;
        height: 27px;
        background-image: url("../img/Цена.png");
    
    }

    .question {
        display: flex;
        flex-wrap: wrap;
        outline: 17px solid #F6F6F6;
        position: absolute;
        width: 870px;
        height: 650px;
        left: 16%;
        top: 10%;
    
        background: #FFFFFF;
        border-radius: 10px;
    }

    .q_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 388.39px;
        height: 26.63px;
        background-image: url("../img/Вопрос\ 1\ из\ 5.svg");
        background-size: cover;
    }

    .q2_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 388.39px;
        height: 26.63px;
        background-image: url("../img/Вопрос\ 2\ из\ 5.svg");
        background-size: cover;
    }
    
    .q3_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 388.39px;
        height: 26.63px;
        background-image: url("../img/Вопрос\ 3\ из\ 5.svg");
        background-size: cover;
    }
    
    .q4_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 388.39px;
        height: 26.63px;
        background-image: url("../img/Вопрос\ 4\ из\ 5.svg");
        background-size: cover;
    }
    
    .q5_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 388.39px;
        height: 26.63px;
        background-image: url("../img/Вопрос\ 5\ из\ 5.svg");
        background-size: cover;
    }
    
    .q_quest {
        position: absolute;
        margin: 19% 0 0 50%;
        width: 351.77px;
        height: 35.51px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_status {
        position: absolute;
        margin: 17% 0 0 17%;
        width: 80px;
        height: 20.5px;
        background-image: url("../img/Онлайн.svg");
        background-size: cover;
        /* 3.89 */
    }
    
    .q_name {
        position: absolute;
        margin: 20% 0 0 17%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        
        text-align: center;
        color: #3C3C3C;
    }
    
    .q_subname {
        position: absolute;
        margin: 23.5% 0 0 16%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_text {
        position: absolute;
        margin: 26% 0 0 7%;
        width: 305px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* or 125% */
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_home {
        position: absolute;
        margin: 30% 0 0 0;
        width: 380px;
        height: 285.7px;
        background-image: url("../img/Конструкция\ дома.png");
        background-size: cover;
        /* 1.33 */
    }
    
    .q_variants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: absolute;
        margin: 24% 0 0 46%;
    /*     background-color: #992800; */
        width: 400px;
        height: 339px;
        /* 1.18 */
    }
    
    .q_var {
        cursor: pointer;
        width: 187px;
        height: 167px; 
        background: url("../img/Rectangle\ 121.png");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 1.12 */
    }
    
    .q1_text {
        margin: 0 2% 0 2%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
        
    }
    
    .q1-1_img {
        margin: 0 0 0 2%;
        width: 176px;
        height: 100px;
        background: url("../img/Для\ постоянного\ проживания\ 1.png");
        background-size: cover;
        /* 1.76 */
    }
    
    .q1-2_img {
        margin: 0 0 0 15%;
        width: 137.5px;
        height: 110px;
        background: url("../img/Дачный\ 1.png");
        background-size: cover;
        /* 1.25 */ 
    }
    
    .q1-3_img {
        margin: -20% -10% 6% 0%;
        width: 197.79px;
        height: 120px;
        background: url("../img/Гостевой\ 1.png");
        background-size: cover;
    }
    
    .q1-4_img {
        margin: -10% 0 0 30%;
        width: 68px;
        height: 115px;
        background: url("../img/Пока.png");
        background-size: cover;
    }

    .q3-1_img {
        margin: -3% 0 -3% 2%;
        width: 150px;
        height: 115px;
        background: url("../img/1\ этаж.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-2_img {
        margin: -20px 0 -20px 2%;
        width: 150px;
        height: 115px;
        background: url("../img/2\ этажа.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-3_img {
        margin: -35px 0 -20px 2%;
        width: 150px;
        height: 115px;
        background: url("../img/1\ этаж\ +\ мансарда.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-4_img {
        margin: -10% 0 0 30%;
        width: 68px;
        height: 115px;
        background: url("../img/Пока.png");
        background-size: cover;

    }
    
    .q_back {
        position: absolute;
        margin: 64% 0 0 45%;
        width: 180px;
        height: 56px; 
    /*     border-radius: 3,22 */
        background: url("../img/Кнопка\ Назад.svg");
        background-size: cover;
    }
    
    .q_next {
        position: absolute;
        margin: 64% 0 0 71%;
        width: 180px;
        height: 56px; 
    /*     border-radius: 3,22%; */
        background: url("../img/Кнопка\ Далее.png");
        background-size: cover;
    }

    .q2_var {
        margin: 5% 0 0 0;
        cursor: pointer;
        width: 411.5px;
        height: 53px;
        background: url("../img/Rectangle\ 42.svg");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 8.75 */
    }
    
    .q2_var_text {
        margin: 1% 0 0 0 ;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
            
    }

}

/* 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */

@media (max-width: 1250px){
    header {
        display: flex;
        margin: 2% 13% 0 13% ;
    }

    .container {
        max-width: 970px;
    }
    .subcontainer {
        margin: 5% 0 0 17%;
        display: flex;
        flex-wrap: wrap
    }
    .main {
        margin: 0px 40% 0px 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    
        color: #FFFFFF;
    }

    .home {
        z-index:-1;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 53.5%;
        top: 24.1%;
        margin: 1% 40% 0 0;
        border-radius: 5px;
        width: 60%;
        height: 75%;
        background-image: url("../img/Дом\ с\ деревьями.png");
        background-size: 100%, 100%;
    }
    
    .name {
        margin: 0 2% 0 1%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #992800;
    
        text-shadow: 0px 2px 30px #FFFFFF;
    }
    
    .tagline {
        margin: 0 7% 0 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 140%;
    /* or 18px */
        color: #FFFFFF;
    }
    
    .phone {
        margin: 2px 7px 0 0;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    
    .button1 {
        display: flex;
        overflow: hidden;
        width: 15%;
        border-radius: 5px;
        background-image: url("../img/Кнопка\ Перезвонить.png");
    }
    .button1_text {
        margin: 10% 1% 0 1%;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        letter-spacing: 0.05em;
        text-align: center;
    
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }

    .pointer {
        margin: -10% 30% 0 27%;
        width: 46px;
        height: 45px;
        background-image: url("../img/Стрелка.svg");
        background-size: cover;
    }
    
    .special_price {
        margin: -9% 30% 0 35%;
        width: 125px;
        height: 27px;
        background-image: url("../img/Цена.png");
    
    }

    .question {
        display: flex;
        flex-wrap: wrap;
        outline: 17px solid #F6F6F6;
        position: absolute;
        width: 750px;
        height: 580px;
        left: 16%;
        top: 10%;
    
        background: #FFFFFF;
        border-radius: 10px;
    }

    .q_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 350px;
        height: 24px;
        background-image: url("../img/Вопрос\ 1\ из\ 5.svg");
        background-size: cover;
        /* 14.58 */
    }

    .q2_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 350px;
        height: 24px;
        background-image: url("../img/Вопрос\ 2\ из\ 5.svg");
        background-size: cover;
    }
    
    .q3_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 350px;
        height: 24px;
        background-image: url("../img/Вопрос\ 3\ из\ 5.svg");
        background-size: cover;
    }
    
    .q4_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 350px;
        height: 24px;
        background-image: url("../img/Вопрос\ 4\ из\ 5.svg");
        background-size: cover;
    }
    
    .q5_number {
        position: absolute;
        margin: 7% 0 0 30%;
        width: 350px;
        height: 24px;
        background-image: url("../img/Вопрос\ 5\ из\ 5.svg");
        background-size: cover;
    }

    
    
    .q_quest {
        position: absolute;
        margin: 16% 0 0 50%;
        width: 351.77px;
        height: 35.51px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_status {
        position: absolute;
        margin: 17% 0 0 17%;
        width: 70px;
        height: 18px;
        background-image: url("../img/Онлайн.svg");
        background-size: cover;
        /* 3.89 */
    }
    
    .q_name {
        position: absolute;
        margin: 20% 0 0 16%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        
        text-align: center;
        color: #3C3C3C;
    }
    
    .q_subname {
        position: absolute;
        margin: 23.5% 0 0 16.5%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 129% */
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_text {
        position: absolute;
        margin: 26% 0 0 5%;
        width: 250px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* or 125% */
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_home {
        position: absolute;
        margin: 30% 0 0 0;
        width: 340px;
        height: 255.6px;
        background-image: url("../img/Конструкция\ дома.png");
        background-size: cover;
        /* 1.33 */
    }

    .q_variants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: absolute;
        margin: 24% 0 0 46%;
    /*     background-color: #992800; */
        width: 380px;
        height: 322px;
        /* 1.18 */
    }
    
    .q_var {
        cursor: pointer;
        width: 168px;
        height: 150px; 
        background: url("../img/Rectangle\ 121.png");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 1.12 */
    }
    
    .q1_text {
        margin: 0 2% 0 2%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
        
    }
    
    .q1-1_img {
        margin: 0 0 0 15%;
        width: 132px;
        height: 75px;
        background: url("../img/Для\ постоянного\ проживания\ 1.png");
        background-size: cover;
        /* 1.76 */
    }
    
    .q1-2_img {
        margin: 0 0 0 15%;
        width: 106.2px;
        height: 85px;
        background: url("../img/Дачный\ 1.png");
        background-size: cover;
        /* 1.25 */ 
    }
    
    .q1-3_img {
        margin: -20% -10% 6% 0%;
        width: 165px;
        height: 100px;
        background: url("../img/Гостевой\ 1.png");
        background-size: cover;
        /* 1.65 */
    }
    
    .q1-4_img {
        margin: -10% 0 0 30%;
        width: 54px;
        height: 90px;
        background: url("../img/Пока.png");
        background-size: cover;
        /* 0.6 */
    }

    .q3-1_img {
        margin: -3% 0 -3% 15%;
        width: 117px;
        height: 90px;
        background: url("../img/1\ этаж.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-2_img {
        margin: -20px 0 0 15%;
        width: 117px;
        height: 90px;
        background: url("../img/2\ этажа.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-3_img {
        margin: -10% 0 0 15%;
        width: 117px;
        height: 90px;
        background: url("../img/1\ этаж\ +\ мансарда.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-4_img {
        margin: -10% 0 0 30%;
        width: 54px;
        height: 90px;
        background: url("../img/Пока.png");
        background-size: cover;

    }
    
    .q_back {
        position: absolute;
        margin: 67% 0 0 45%;
        width: 150px;
        height: 46.6px; 
    /*     border-radius: 3,22 */
        background: url("../img/Кнопка\ Назад.svg");
        background-size: cover;
    }
    
    .q_next {
        position: absolute;
        margin: 67% 0 0 71%;
        width: 150px;
        height: 46.6px; 
    /*     border-radius: 3,22%; */
        background: url("../img/Кнопка\ Далее.png");
        background-size: cover;
    }

    .q2_var {
        margin: 4% 0 0 0;
        cursor: pointer;
        width: 380px;
        height: 43.4px;
        background: url("../img/Rectangle\ 42.svg");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 8.75 */
    }
    
    .q2_var_text {
        margin: 1% 0 0 0 ;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
            
    }

    .thank_u {
        margin: 9% 0 0 0;
        width: 100%;
        height: 6%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        /* or 117% */
        text-align: center;
        
        color: #3C3C3C;    
    }
    
    .thank_q {
        margin: 2% 0 0 0;
        width: 100%;
        height: 3%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        text-align: center;
        
        color: #3C3C3C;    
    }
    
    .thank_var {
        margin: 2% 0 0 0;
        width: 100%;
    }
    
    .thank_v1 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 0 3% 0 15%;
        width: 100px;
        height: 100px;
        background: url("../img/Вотсап.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v2 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 0 3% 0 0;
        width: 100px;
        height: 100px;
        background: url("../img/Вайбер.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v3 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 0 3% 0 0;
        width: 100px;
        height: 100px;
        background: url("../img/Телеграм.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v4 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        width: 100px;
        height: 100px;
        background: url("../img/Телефон.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_under {
        width: 100%;
        display: flex;
    }
    
    .thank_img {
        margin: 0 8% 0 8%;
        width: 280px;
        height: 271.5px;
        background: url("../img/Мокап-2\ 1.png");
    }
    
    .thank_img_text {
        margin: 0 0 0 8%;
        background: url("../img/yellow.svg");
        background-size: cover;
        width: 200px;
        height: 52.5px;
        /* 3.81 */
    }
    
    .thank_img_text {
        padding: 4% 0 0 0;
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        /* or 133% */
        
        color: #676767;    
    }
    
    
    .thank_cont_container {
        width: 280px;
        justify-content: right;
        align-items: right;
    }
    
    
    .input-phone {
        margin: 0 0 5% 0;
        border: none;
        background: url("../img/Rectangle\ 43.svg");
        background-size: cover;
        width: 335px;
        height: 62px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        /* identical to box height, or 118% */
        text-transform: uppercase;
        
        color: #818181;
    }
    
    .send_phone {
        margin: 0 0 7% 0;
        width: 335px;
        height: 73px; 
        background: url("../img/Red.svg");
        background-size: cover;    
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;    
    }
    
}

/* 3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */

@media (max-width: 992px){
    header {
        display: flex;
        margin: 2% 1% 0 1% ;
    }

    .container {
        max-width: 750px;
    }
    .subcontainer {
        margin: 5% 0 0 10%;
        display: flex;
        flex-wrap: wrap
    }
    .main {
        margin: 0px 40% 0px 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    
        color: #FFFFFF;
    }
    .name {
        margin: 0 2% 0 1%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #992800;
    
        text-shadow: 0px 2px 30px #FFFFFF;
    }
    
    .tagline {
        margin: 0 7% 0 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 140%;
    /* or 18px */
        color: #FFFFFF;
    }
    
    .phone {
        margin: 2px 7px 0 0;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    
    .button1 {
        display: flex;
        overflow: hidden;
        width: 15%;
        border-radius: 5px;
        background-image: url("../img/Кнопка\ Перезвонить.png");
    }
    .button1_text {
        margin: 8% 1% 0 1%;
        font-family: Montserrat;
        font-size: 9px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0.05em;
        text-align: center;
    
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    .pointer {
        margin: -10% 20% 0 27%;
        width: 46px;
        height: 45px;
        background-image: url("../img/Стрелка.svg");
        background-size: cover;
    }
    
    .special_price {
        margin: -9% 20% 0 35%;
        width: 125px;
        height: 27px;
        background-image: url("../img/Цена.png");
    
    }
}

/* 4444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444 */

@media (max-width: 767px){

    header {
        display: flex;
        margin: 2% 2% 0 2% ;
    }

    body {
        background-image: url("../img/Небо.jpg");
        background-size: cover;
        width: 100%;
        min-width: 450px;
        
    }

    .screen {
        cursor: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 130%;
        height: 130%;
        background-color: #FFFFFF;
        opacity: .5;
    }

    .container {
        max-width: none;
    }
    .subcontainer {
        margin: 5% 0 0 10%;
        display: flex;
        flex-wrap: wrap;
    }

    .main {
        margin: 0px 40% 0px 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    
        color: #FFFFFF;
    }

    .home {
        z-index:-1;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 53.5%;
        top: 75%;
        margin: 1% 40% 0 0;
        border-radius: 5px;
        width: 87%;
        height: 100%;
        background-image: url("../img/Дом\ с\ деревьями.png");
        background-size: 200%, 200%;
    }
    
    .name {
        margin: 0 2% 0 1%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #992800;
    
        text-shadow: 0px 2px 30px #FFFFFF;
    }
    
    .tagline {
        margin: 0 0 0 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 0px;
        line-height: 140%;
    /* or 18px */
        color: #FFFFFF;
    }
    
    .phone {
        margin: 0 0 0 0;
        font-family: Montserrat;
        font-size: 0px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    
    .button1 {
        margin: 0 0 0 -28%;
        display: flex;
        overflow: hidden;
        width: 25%;
        border-radius: 5px;
        background-image: url("../img/Кнопка\ Перезвонить.png");
    }
    .button1_text {
        margin: 10% 1% 0 1%;
        font-family: Montserrat;
        font-size: 9px;
        font-weight: 500;
        line-height: 9px;
        letter-spacing: 0.05em;
        text-align: center;
    
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }

    .pointer {
        margin: -10% 30% 0 40%;
        width: 40px;
        height: 40px;
        background-image: url("../img/Стрелка.svg");
        background-size: cover;
    }

    .main {
        margin: 2% 10% 0px 0px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-align: center;
    
        color: #FFFFFF;
    }
    .name {
        margin: 0 2% 0 1%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #992800;
    
        text-shadow: 0px 2px 30px #FFFFFF;
    }

    .pic1 {
        margin: 0 0 0 0;
        width: 0;
        height: 0;
        background-image: url("../img/Календарь\ иконка.png");
    }
    
    .pic1_text {
        margin: 0 0 0 0;
        width: 0;
        height: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 0px;
        line-height: 20px;
    /* or 125% */
    
        color: #FFFFFF;
    }
    
    .quiz_text {
        margin: 10% 15% 4% 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
    /* or 26px */
    
        color: #FFFFFF;
    }
    
    .pic2 {
        margin: 0 2% 0 0;
        border-radius: 10px;
        width: 140px;
        height: 104.5px;
        background-image: url("../img/Сваи\ фото.jpg");
        background-size: cover;
        /* 1.34 */
    }
    
    .pic2_text {
        margin: 1% 2% 1% 2%;
        width: 200px;
        height: 65px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    
        color: #FFFFFF;
    }
    
    .special_price {
        margin: -9% 0% 0 55%;
        width: 125px;
        height: 27px;
        background-image: url("../img/Цена.png");

        /* 4.63 */
    }

    .quiz_text2 {
        text-align: center;
        height: 100%;
        margin: 45% 15% 0 0%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    
        color: #FFFFFF;
    }
    
    .button2 {
        cursor: pointer;
        margin: 5% 10% 0 0;
        border-radius: 5px;
        background-image: url("../img/Кнопка\ Рассчитать\ стоимость.jpg");
        background-size: cover;
        
    }
    
    .button2_text {
        padding: 3% 2% 2% 3%;
        font-family: 'Montserrat';
        font-style: normal;
    /*     width: 446px;
        height: 56px; */
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    .underbutton {
        margin: 1% 25% 2% 25%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .tree3 {
        z-index:-3;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        left: 0%;
        top: 38.3%;
        margin: 1% 40% 0 0;
        border-radius: 5px;
        width: 443px;
        height: 708px;
        background-image: url("../img/Ель\ 4.png");
        background-size: cover;
    }


    .question {
        display: flex;
        flex-wrap: wrap;
        outline: 17px solid #F6F6F6;
        position: absolute;
        width: 90%;
        height: 100%;
        left: 16%;
        top: 10%;
    
        background: #FFFFFF;
        border-radius: 5px;
    }

    .q_number {
        position: absolute;
        margin: 5% 0 0 12%;
        width: 250px;
        height: 17.1px;
        background-image: url("../img/Вопрос\ 1\ из\ 5.svg");
        background-size: cover;
        /* 14.58 */
    }

    .q2_number {
        position: absolute;
        margin: 5% 0 0 12%;
        width: 250px;
        height: 17.1px;
        background-image: url("../img/Вопрос\ 2\ из\ 5.svg");
        background-size: cover;
    }
    
    .q3_number {
        position: absolute;
        margin: 5% 0 0 12%;
        width: 250px;
        height: 17.1px;
        background-image: url("../img/Вопрос\ 3\ из\ 5.svg");
        background-size: cover;
    }
    
    .q4_number {
        position: absolute;
        margin: 5% 0 0 12%;
        width: 250px;
        height: 17.1px;
        background-image: url("../img/Вопрос\ 4\ из\ 5.svg");
        background-size: cover;
    }
    
    .q5_number {
        position: absolute;
        margin: 5% 0 0 12%;
        width: 250px;
        height: 17.1px;
        background-image: url("../img/Вопрос\ 5\ из\ 5.svg");
        background-size: cover;
    }

    
    
    .q_quest {
        position: absolute;
        margin: 10% 0 0 10%;
        max-width: 80%;
        height: 100%;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        
        text-align: center;
        
        color: #3C3C3C;
    }
    
    .q_status {
        position: absolute;
        margin: 150% 0 0 40%;
        width: 70px;
        height: 18px;
        background-image: url("../img/Онлайн.svg");
        background-size: cover;
        z-index: 2;
        /* 3.89 */
    }
    
    .q_name {
        position: absolute;
        margin: 155% 0 0 39%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        z-index: 2;
        
        text-align: center;
        color: #141414;
    }
    
    .q_subname {
        position: absolute;
        margin: 163% 0 0 35%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        /* identical to box height, or 129% */
        z-index: 2;
        
        text-align: center;
        
        color: #141414;
    }
    
    .q_text {
        position: absolute;
        margin: 170% 0 0 12%;
        width: 260px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        z-index: 2;
        /* or 125% */
        
        text-align: center;
        
        color: #141414;
    }
    
    .q_home {
        position: absolute;
        margin: 140% 0 0 1%;
        width: 340px;
        height: 255.6px;
        background-image: url("../img/Конструкция\ дома.png");
        background-size: cover;
        opacity: 0.5;
        /* 1.33 */
    }

    .q_variants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: absolute;
        margin: 30% 0 0 0%;
    /*     background-color: #992800; */
        width: 95%;
        /* 1.18 */
    }
    
    .q_var {
        cursor: pointer;
        width: 45%;
        height: 40; 
        background: url("../img/Rectangle\ 121.png");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 1.12 */
    }
    
    .q1_text {
        margin: 0 2% 0 2%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
        
    }
    
    .q1-1_img {
        margin: 0 0 0 15%;
        width: 132px;
        height: 75px;
        background: url("../img/Для\ постоянного\ проживания\ 1.png");
        background-size: cover;
        /* 1.76 */
    }
    
    .q1-2_img {
        margin: 0 0 0 15%;
        width: 106.2px;
        height: 85px;
        background: url("../img/Дачный\ 1.png");
        background-size: cover;
        /* 1.25 */ 
    }
    
    .q1-3_img {
        margin: -20% -10% 6% 0%;
        width: 165px;
        height: 100px;
        background: url("../img/Гостевой\ 1.png");
        background-size: cover;
        /* 1.65 */
    }
    
    .q1-4_img {
        margin: -10% 0 0 30%;
        width: 54px;
        height: 90px;
        background: url("../img/Пока.png");
        background-size: cover;
        /* 0.6 */
    }

    .q3-1_img {
        margin: -3% 0 -3% 15%;
        width: 117px;
        height: 90px;
        background: url("../img/1\ этаж.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-2_img {
        margin: -20px 0 0 15%;
        width: 117px;
        height: 90px;
        background: url("../img/2\ этажа.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-3_img {
        margin: -10% 0 0 15%;
        width: 117px;
        height: 90px;
        background: url("../img/1\ этаж\ +\ мансарда.png");
        background-size: cover;
        /* 1.3 */
    }
    
    .q3-4_img {
        margin: -10% 0 0 30%;
        width: 54px;
        height: 90px;
        background: url("../img/Пока.png");
        background-size: cover;

    }
    
    .q_back {
        position: absolute;
        margin: 130% 0 0 2%;
        width: 150px;
        height: 46.6px; 
    /*     border-radius: 3,22 */
        background: url("../img/Кнопка\ Назад.svg");
        background-size: cover;
    }
    
    .q_next {
        position: absolute;
        margin: 130% 0 0 50%;
        width: 150px;
        height: 46.6px; 
    /*     border-radius: 3,22%; */
        background: url("../img/Кнопка\ Далее.png");
        background-size: cover;
    }

    .q2_var {
        margin: 1% 0 0 1%;
        cursor: pointer;
        width: 380px;
        height: 43.4px;
        background: url("../img/Rectangle\ 42.svg");
        background-size: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        /* 8.75 */
    }
    
    .q2_var_text {
        margin: 1% 0 0 0 ;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* or 111% */
        
        text-align: center;
        
        color: #7C7C7C;
            
    }

    .thank_u {
        margin: 9% 5% 0 5%;
        width: 90%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        /* or 117% */
        text-align: center;
        
        color: #3C3C3C;    
    }
    
    .thank_q {
        margin: 2% 0 0 0;
        width: 100%;
        height: 3%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        text-align: center;
        
        color: #3C3C3C;    
    }
    
    .thank_var {
        margin: 2% 5% 0 5%;
        width: 90%;
        height: 35%;
    }
    
    .thank_v1 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 0 3% 0 15%;
        width: 100px;
        height: 100px;
        background: url("../img/Вотсап.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v2 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 0 3% 0 0;
        width: 100px;
        height: 100px;
        background: url("../img/Вайбер.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v3 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 3% 3% 0 15%;
        width: 100px;
        height: 100px;
        background: url("../img/Телеграм.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_v4 {
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(184, 184, 184);
        margin: 3% 3% 0 0;
        width: 100px;
        height: 100px;
        background: url("../img/Телефон.png");
    /*     background-size: cover;    */ 
    }
    
    .thank_under {
        background-color: #FFFFFF;
        width: 100%;
        height: 35%;
        display: flex;
        z-index: 3;
    }
    
    .thank_img {
        margin: 0 0 0 0;
        width: 0;
        height: 0;
        background: url("../img/Мокап-2\ 1.png");
    }
    
    .thank_img_text {
        margin: 0 0 0 0;
        background: url("../img/yellow.svg");
        background-size: cover;
        width: 0;
        height: 0;
        /* 3.81 */
    }
    
    .thank_img_text {
        padding: 0 0 0 0;
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0px;
        line-height: 0px;
        /* or 133% */
        
        color: #676767;    
    }
    
    
    .thank_cont_container {
        width: 280px;
        justify-content: right;
        align-items: right;
    }
    
    
    .input-phone {
        margin: 0 0 5% 0;
        border: none;
        background: url("../img/Rectangle\ 43.svg");
        background-size: cover;
        width: 335px;
        height: 62px;
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        /* identical to box height, or 118% */
        text-transform: uppercase;
        
        color: #818181;
    }

    .present_text {
        margin: 0 0 0 0;
        font-size: 0px;
        line-height: 0px;
    }
    
    .send_phone {
        margin: 0 0 7% 0;
        width: 335px;
        height: 73px; 
        background: url("../img/Red.svg");
        background-size: cover;    
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;    
    }
    
}

/* 555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */

.hide {
    display: none;
}

.pressed {

    border: #3C3C3C 8px;
}